<beverage-button
  *ngFor="let beverage of results"
  [beverage]="beverage">
</beverage-button>

<div class="article-preview"
  [hidden]="!loading">
  Loading beverages...
</div>

<div class="article-preview"
  [hidden]="loading || results.length">
  No beverages are here... yet.
</div>

<nav [hidden]="loading || totalPages <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" href="#">{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
