<section>
  <div class="banner">
    <p> Bestellingen invoeren</p>
    <i>Klik op de gewenste drank om in te beginnen</i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <beverage-list [limit]="10" [config]="listConfig"></beverage-list>
        <p *ngFor="let beverage of queuedBeverages">{{beverage.name}} queued up!</p>
      </div>
      <div class="col-lg-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nisi vitae nisi dictum ornare. Fusce et tempus mauris, gravida bibendum tellus. Nunc a magna blandit, scelerisque turpis ac, vestibulum magna. Phasellus scelerisque et felis id fermentum. Donec est risus, consectetur eu sapien vel, interdum sagittis erat. Suspendisse ac neque tincidunt, pretium erat ut, cursus justo. Vestibulum efficitur volutpat metus. Aliquam turpis arcu, imperdiet vitae faucibus in, tincidunt quis lacus. Ut luctus tempus eros vel luctus. Nullam suscipit arcu a placerat placerat. Nam condimentum dapibus odio auctor tincidunt. Nam rhoncus tortor eu ipsum laoreet gravida. Duis sed luctus quam, sodales auctor justo. Duis interdum in urna sed volutpat. Praesent vitae sodales metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Integer vehicula id lacus dapibus euismod. In scelerisque, erat ac commodo lobortis, ligula quam scelerisque ipsum, in volutpat nisl orci nec ligula. Nunc feugiat feugiat nunc, at efficitur erat vehicula sed. Sed at elit vel ligula tempor elementum sit amet eu augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in tortor nisi. Donec egestas auctor arcu a venenatis. Duis odio lorem, scelerisque non felis ac, rhoncus imperdiet nunc. Donec id lectus non dui laoreet pulvinar. Vivamus et posuere est. Nullam mauris enim, laoreet vitae nulla nec, faucibus tempor enim. Suspendisse interdum ornare massa eget ullamcorper. Vestibulum convallis, risus vel faucibus hendrerit, velit risus euismod quam, quis porta tortor nunc vitae urna. Nullam vestibulum mauris id nibh hendrerit, sit amet commodo tortor suscipit. Donec aliquam quam nisl, at pellentesque quam vestibulum at.

        Morbi non consectetur urna, eget congue risus. Nunc eu odio in ex ornare condimentum. Sed tortor leo, elementum a lobortis ullamcorper, viverra ac metus. Duis venenatis turpis quis vehicula posuere. Maecenas ullamcorper, dolor eu congue viverra, velit odio tempus metus, eget feugiat dolor lorem ut nibh. Nulla ex mi, pellentesque non augue a, porta sollicitudin libero. Suspendisse lacus eros, aliquet quis tempus eget, ultrices et velit. Nam ac urna vitae lacus commodo tincidunt sit amet quis velit.

        Phasellus a quam erat. Fusce nec turpis imperdiet, varius velit a, tincidunt leo. Pellentesque consectetur elementum purus. Cras ac semper mi. Aliquam in mollis arcu. Curabitur vitae nulla consequat, fringilla erat in, dignissim tellus. Etiam gravida suscipit finibus. Sed augue turpis, porta sed lacus eu, auctor tincidunt odio. Fusce accumsan posuere leo, sed gravida dui semper quis. Quisque facilisis rutrum leo, gravida venenatis nulla convallis eu. Praesent tempor mauris nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vitae turpis enim. Donec mauris odio, egestas at laoreet ut, suscipit et felis.

        Aenean pulvinar euismod varius. Duis eget dolor tortor. Aenean diam nulla, varius id maximus vel, laoreet eget enim. Maecenas eget blandit odio, non sodales mauris. Donec ipsum tellus, molestie eu lacus nec, condimentum consequat erat. Pellentesque ultricies, ex in rhoncus laoreet, diam risus malesuada arcu, quis sagittis diam mauris id est. Suspendisse convallis tellus nisl, ut malesuada mauris tempus sit amet. Curabitur tempor ornare tristique. Fusce at maximus tellus.
      </div>
    </div>
  </div>
</section>


<!--<div class="article-page">-->

  <!--<div class="banner">-->
    <!--<div class="container">-->
      <!--<h1>{{ article.title }}</h1>-->

      <!--<article-meta [article]="article">-->

          <!--<span [hidden]="!canModify">-->
          <!--<a class="btn btn-sm btn-outline-secondary"-->
             <!--[routerLink]="['/editor', article.slug]">-->
            <!--<i class="ion-edit"></i> Edit Article-->
          <!--</a>-->

          <!--<button class="btn btn-sm btn-outline-danger"-->
            <!--[ngClass]="{disabled: isDeleting}"-->
            <!--(click)="deleteArticle()">-->
            <!--<i class="ion-trash-a"></i> Delete Article-->
          <!--</button>-->
        <!--</span>-->

        <!--<span [hidden]="canModify">-->
          <!--<follow-button-->
            <!--[profile]="article.author"-->
            <!--(onToggle)="onToggleFollowing($event)">-->
          <!--</follow-button>-->

          <!--<favorite-button-->
            <!--[article]="article"-->
            <!--(onToggle)="onToggleFavorite($event)">-->
            <!--{{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ article.favoritesCount }})</span>-->
          <!--</favorite-button>-->
        <!--</span>-->

      <!--</article-meta>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="container page">-->

    <!--<div class="row article-content">-->
      <!--<div class="col-md-12">-->

        <!--<div [innerHTML]="article.body | markdown"></div>-->

        <!--<ul class="tag-list">-->
          <!--<li *ngFor="let tag of article.tagList"-->
            <!--class="tag-default tag-pill tag-outline">-->
            <!--{{ tag }}-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
    <!--</div>-->

    <!--<hr />-->

    <!--<div class="article-actions">-->
      <!--<article-meta [article]="article">-->

          <!--<span [hidden]="!canModify">-->
          <!--<a class="btn btn-sm btn-outline-secondary"-->
             <!--[routerLink]="['/editor', article.slug]">-->
            <!--<i class="ion-edit"></i> Edit Article-->
          <!--</a>-->

          <!--<button class="btn btn-sm btn-outline-danger"-->
            <!--[ngClass]="{disabled: isDeleting}"-->
            <!--(click)="deleteArticle()">-->
            <!--<i class="ion-trash-a"></i> Delete Article-->
          <!--</button>-->
        <!--</span>-->

        <!--<span [hidden]="canModify">-->
          <!--<follow-button-->
            <!--[profile]="article.author"-->
            <!--(onToggle)="onToggleFollowing($event)">-->
          <!--</follow-button>-->

          <!--<favorite-button-->
            <!--[article]="article"-->
            <!--(onToggle)="onToggleFavorite($event)">-->
            <!--{{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ article.favoritesCount }})</span>-->
          <!--</favorite-button>-->
        <!--</span>-->

      <!--</article-meta>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-md-8 offset-md-2">-->

        <!--<div *showAuthed="true">-->
          <!--<list-errors [errors]="commentFormErrors"></list-errors>-->
          <!--<form class="card comment-form" (ngSubmit)="addComment()">-->
            <!--<fieldset [disabled]="isSubmitting">-->
              <!--<div class="card-block">-->
                <!--<textarea class="form-control"-->
                  <!--placeholder="Write a comment..."-->
                  <!--rows="3"-->
                  <!--[formControl]="commentControl"-->
                <!--&gt;</textarea>-->
              <!--</div>-->
              <!--<div class="card-footer">-->
                <!--<img [src]="currentUser.image" class="comment-author-img" />-->
                <!--<button class="btn btn-sm btn-primary" type="submit">-->
                 <!--Post Comment-->
                <!--</button>-->
              <!--</div>-->
            <!--</fieldset>-->
          <!--</form>-->
        <!--</div>-->

        <!--<div *showAuthed="false">-->
          <!--<a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.-->
        <!--</div>-->

        <!--<article-comment-->
          <!--*ngFor="let comment of comments"-->
          <!--[comment]="comment"-->
          <!--(deleteComment)="onDeleteComment(comment)">-->
        <!--</article-comment>-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
